.gr_button, .getzip {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /*float: right;*/
  }
  .date_cont{float: left;}
.filter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .loader {
    display: none;
    border: 10px solid #c4a2a2;
        border-top-color: rgb(196, 162, 162);
        border-top-style: solid;
        border-top-width: 10px;
    border-radius: 50%;
    border-top: 11px solid #535759;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    float: right;
  }

.out_mumbai {opacity: 0}


/*dashboard*/

.comp-box{ width:100%; padding:30px 0}
.comp-box ul{margin:auto;padding:0}
.comp-box li{ display:inline-block; vertical-align:top; border:1px solid #ccc; border-radius:10px; width:31%;padding:0px; margin:1%}
.comp-left{ float:left;padding:0 0 0 3%}
.comp-left h2{ font-size:34px; color:#696969; font-weight:bold;padding:14px 0 0 0; margin:auto}
.comp-left p{ font-size:16px}
.color-gr1{ background:#71bf44;}
.color-gr2{ background:#0fb3f0;}
.color-gr3{ background:#e31837;}
.color-gr4{ background:#ffbc00;}
.comp-right{ float:right;padding:20px 3% 0 0 }
.comp-box li a{ font-weight:bold; font-size:16px; display:block; width:100%;padding:10px 0; color:#fff; border-radius:0 0 10px 10px ;}
.val{ width:100%; text-align:center}


.c_inout{color:#fff;text-align: center;padding: 4px 0; cursor: pointer;}
.c_inout.process{background: #483737;}

.not_checked_in{background:#8d918d;}
.checked_in{background:#4caf50;}

.c_print{color:#fff;text-align: center;padding: 4px 0;cursor: pointer;background:#8d918d;margin-top: 5px;}




  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.pagi-ul {
  margin: 0 auto;
}
.pagi-ul li{
    list-style: none; 
    float: left; margin-right: 10px; 
    border: 1px #000 solid; padding: 0px 10px; 
    background-color: #87887B2E;

}
.pagi-ul li.pagi-disabled{
    background-color: #F3EEEA !important; 
    cursor: not-allowed;
    opacity: 0.3;
}
.pagi-ul li.active-pagi{background-color: #000 !important; cursor: cell;}


.full_message{
    color:#000;
    cursor: pointer;
    background:#ccc;
    padding: 2px 10px;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
/*.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}*/
/*.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}*/
.hover_bkgr_fricc > div{
    background-color:#fff;
    box-shadow: 10px 10px 60px #555;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    top: 30%;
    left: 13%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */


.msg_td{overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 300px;
cursor: pointer;}

.custom-filter{display: none;}
.documents img{
    width: 100%;
}

tr th{
    text-transform: capitalize;
}

.bg-gradient-primary {
    background-color: #1f3a8b;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#1f3a8b),to(#224abe));
    background-image: linear-gradient(180deg,#1f3a8b 10%,#224abe 100%);
    background-size: cover;
}